*{margin:0;padding:0}#game,body,canvas,html{width:100%;height:100%}body{background-color:#000;font-family:arial,sans-serif}canvas{position:absolute;left:0;top:0}#ui{z-index:1002;position:fixed;left:20px;top:20px;color:#fff;font-size:14px}#ui img{width:32px;cursor:pointer}#ui p{display:block}.fadeOut{opacity:.2}.fadeIn{opacity:1}
