<nav>
  <a ng-href="/#/">Home</a>
</nav>

<form  name="authForm" data-ng-submit="submit(auth)">
  <label data-ng-if="signup" for="username">Username: </label>
  <input data-ng-if="signup" type="text" name="username" data-ng-model="auth.username">
  <label for="email">Email: </label>
  <input type="text" required name="email" data-ng-model="auth.email">
  <label for="password">Password</label>
  <input type="password" required name="password" data-ng-model="auth.password">
  <label data-ng-if="signup" for="confirmation">Confirmation:</label>
  <input data-ng-if="signup" type="password" name="confirmation" data-ng-model="auth.confirmation">
  <button type="submit" data-ng-disabled="(signup && (auth.confirmation !== auth.password)) || authForm.$invalid">{{signup ? 'Create New User' : 'Sign In'}}</button>
</form>
